<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoriaControl</servlet-name>
        <servlet-class>controler.CategoriaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditorialControl</servlet-name>
        <servlet-class>controler.EditorialControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibroControl</servlet-name>
        <servlet-class>controler.LibroControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosControl</servlet-name>
        <servlet-class>controler.UsuariosControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorControl</servlet-name>
        <servlet-class>controler.ErrorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuControl</servlet-name>
        <servlet-class>controler.MenuControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionControl</servlet-name>
        <servlet-class>controler.CerrarSesionControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaControl</servlet-name>
        <url-pattern>/CategoriaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditorialControl</servlet-name>
        <url-pattern>/EditorialControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibroControl</servlet-name>
        <url-pattern>/LibroControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosControl</servlet-name>
        <url-pattern>/UsuariosControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorControl</servlet-name>
        <url-pattern>/ErrorControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuControl</servlet-name>
        <url-pattern>/MenuControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionControl</servlet-name>
        <url-pattern>/CerrarSesionControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
